<%- include('partials/header') %>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('partials/nav') -%>
    <main class="main flex flex-column" id="main">
        <div class="page-left">
            <div class="page-left-content">
                <button></button>
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>
        <div class="page-right">

        </div>
    </main>
        <h1>user details</h1>
    </div>
    <script src="/javascript/nav.js"></script>
</body>
</html>