<nav class="primary-nav">
    <ul class="flex flex-column">
        <li class="close-holder" data-nav-toggle>
            <img src="/images/icon-close.svg" alt="">
        </li>
        <li class="logo-holder">
            <a href="/" class="flex">
                <img class="logo" src="/images/logo.svg" alt="logo">
            </a>
        </li>
        <li>
            <a href="/reserva/bookings" class="uppercase" id="bookings">
                <img src="" alt="">
                <span>
                    Bookings
                </span>
            </a>
        </li>
        <li>
            <a href="/reserva/tables" class="uppercase" id="tables">
                <img src="" alt="">
                <span>
                    Tables
                </span>
            </a>
        </li>
        <li>
            <a href="/reserva/users" class="uppercase" id="users">
                <img src="" alt="">
                <span>
                    Users
                </span>
            </a>
        </li>
        <li>
            <a href="/reserva/waitlists" class="uppercase" id="waitlists">
                <img src="" alt="">
                <span>
                    Waitlists
                </span>
            </a>
        </li>

        <li>
            <a href="/reserva/messages" class="uppercase" id="messages">
                <img src="" alt="">
                <span>
                    Messages
                </span>
            </a>
        </li>
        <li>
            <a href="/reserva/dishes" class="uppercase" id="dishes">
                <img src="" alt="">
                <span>
                    Dishes
                </span>
            </a>
        </li>
        <li>
            <a href="/reserva/events" class="uppercase" id="events">
                <img src="" alt="">
                <span>
                    Events
                </span>
            </a>
        </li>
        <li>
            <form action="/logout" method="post" class="flex">
                <button class="uppercase user-link text-left" type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</nav>